{% extends 'base.html' %}
{% load static %}


{% block title %}About | Vigyan Pratibha{% endblock title %}


{% block content %}
<!-- Basic Content -->
<div class="text-content">
	<h1 class="text-center">Vigyan Pratibha</h1>
	<div class="infos"><br>
		<p style="text-align: justify">
			&emsp;&emsp; NISER along with Institute of Physics are partners with Homi Bhabha Centre for Science
			Education in executing the Vigyan Pratibha Project, which is a novel initiative of
			Government of India under the aegis of Department of Atomic Energy. One of the main
			purposes is to train teachers by conducting various teacher-training workshops in the Odisha
			and Chhattisgarh region.
		</p>
		<br>
		<p style="text-align: justify">
			&emsp;&emsp; Vigyan Pratibha serves an unique ‘learning-by-doing’ platform for teachers as well as school
			students to enhance their scientific and mathematical knowledge. The aim is to combine
			several pedagogical tools based on constructivism and collaborative learning approaches.
			Currently at NISER, we are working with students and teachers of classes 8 th and 9 th classes of
			Kendriya Vidyalaya, Jawahar Navodaya Vidyalaya and Atomic Energy Central Schools all
			over Odisha. The key aspect of this program is that science circles in schools-in which
			students will conduct Learning Units- is developed as a part of the program at HBCSE with
			the help of faculty all over the country. These units are in line with the NCERT curriculum
			and they help in better concept building in students.
		</p>
		<br>
	</div>
</div>
{% endblock content %}