{% extends 'base.html' %}
{% load static %}

{% block title %}People | NISER Outreach{% endblock title %}

{% block content %}
<h1 style="text-align: center">OUTREACH COMMITTEE MEMBERS</h1><br>
<div class="text-content">
	<table>
		<tr>
			<td>1</td>
			<td>Dr. Debasmita P. Alone</td>
			<td>Associate Professor, SBS</td>
			<td>Chairperson</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Prof. A. Srinivasan</td>
			<td>Professor, SCS</td>
			<td>Member</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Dr. U. Lourderaj</td>
			<td>Associate Professor, SCS</td>
			<td>Member</td>
		</tr>
		<tr>
			<td>4</td>
			<td>Dr. Pankaj V. Alone</td>
			<td>Associate Professor, SBS</td>
			<td>Member</td>
		</tr>
		<tr>
			<td>5</td>
			<td>Dr. Pranay Ku. Swain</td>
			<td>Associate Professor, SHSS</td>
			<td>Member</td>
		</tr>
		<tr>
			<td>6</td>
			<td>Dr. Subhankar Mishra</td>
			<td>Reader-F, SCoS</td>
			<td>Member</td>
		</tr>
		<tr>
			<td>7</td>
			<td>Dr. Manas Ranjan Sahoo</td>
			<td>Reader-F, SMS</td>
			<td>Member</td>
		</tr>
		<tr>
			<td>8</td>
			<td>Dr. Anupam Pal Choudhury</td>
			<td>Assistant Professor, SMS</td>
			<td>Member</td>
		</tr>
		<tr>
			<td>9</td>
			<td>Dr. Liton Majumdar</td>
			<td>Assistant Professor, SEPS</td>
			<td>Member</td>
		</tr>
		<tr>
			<td>10</td>
			<td>Dr. Satyaprasad P Senanayak</td>
			<td>Assistant Professor, SPS</td>
			<td>Member</td>
		</tr>
		<tr>
			<td>11</td>
			<td>Dr. Sudakshina Prusty</td>
			<td>Scientific Officer-F, SPS</td>
			<td>Member</td>
		</tr>
		<tr>
			<td>12</td>
			<td>Dr. Shyamasree Basu</td>
			<td>Scientific Officer-E, SBS</td>
			<td>Member</td>
		</tr>
		<tr>
			<td>13</td>
			<td>Dr. Priyanka Pandey</td>
			<td>Scientific Officer-D, SCS</td>
			<td>Member</td>
		</tr>
		<tr>
			<td>14</td>
			<td>Dr. Ajay Kumar Dash</td>
			<td>Scientific Officer-C, SEPS</td>
			<td>Member</td>
		</tr>
		<tr>
			<td>15</td>
			<td>Mr. Hiralal Das</td>
			<td>AO-I, F&A Section</td>
			<td>Member</td>
		</tr>
		<tr>
			<td>16</td>
			<td>Mr. Dhaneswar Nayak</td>
			<td>AO-I, Administration</td>
			<td>Member Secretary</td>
		</tr>
	</table>
</div>
{% endblock content %}