{% extends 'base.html' %}
{% load static %}

{% block title %}About | Educational Visits{% endblock title %}

{% block content %}
<!-- Basic Content -->
<div class="text-content">
	<h1 class="text-center">Educational Visits</h1>
	<div class="infos"><br>
		<p style="text-align: justify">
			&emsp;&emsp; Educational trips to a research laboratory are considered to be fundamentally enriching
			educational experiences. There are year-round visits of students and faculty from various
			institutions across the country who get first-hand experience of a state-of-the-art Scientific
			Institution. The students are inspired through interactions with the NISER faculty, Scientific
			Officers and its students. During their visits on any Friday (with prior permission), the school
			students are not only exposed to a few experiments but they also get to observe the work-life
			balance of people at NISER. This helps in a better understanding of what is expected of
			oneself if the students undertake science as a career and enhances the scientific, social, and
			emotional development of all the participants. The students are left with a sense of
			imagination and a newfound interest in science.
		</p>
		<br>
	</div>
</div>
{% endblock content %}